<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GitReleaseNotes" version="0.4.0" />
    <package id="GitVersion.CommandLine" version="3.3.0" />
    <package id="nBuildKit.MsBuild" version="0.5.7" />
    <package id="Ops.Tools.Consul.Powershell" version="0.2.0" />
    <package id="Ops.Resource.Core.HyperV.Windows" version="0.4.0" />
    <package id="Ops.Resource.Core.Lan.Windows" version="0.4.0" />
</packages>